* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1140px) {
  .main-container {
    width: 1120px;
    margin: 8px auto;
    font-size: 1.1em;
  }
}

.location-and-date {
  width: 100%;
}

.location-and-date__location {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}

.current-temperature {
  display: flex;
  margin-top: 0.25em;
  width: 100%;
}

.current-temperature__icon-container {
  flex-grow: 1.25;
  text-align: center;
}

.current-temperature__content-container {
  flex-grow: 1;
  text-align: center;
}

.current-temperature__icon {
  width: 10.5em;
}

.current-temperature__value {
  font-size: 5.25em;
  font-weight: 300;
}

.current-temperature__summary {
  margin-top: -0.5em;
  margin-left: 0.6em;
  text-align: left;
  font-size: 1.125em;
}

.current-stats {
  width: 100%;
  border: 3px solid red;
}

@media screen and (min-width: 1024px) {
  .current-temperature,
  .current-stats {
    width: 50%;
  }
}

.weather-by-hour {
  display: none;
  width: 100%;
  border: 3px solid blue;
}

@media screen and (min-width: 1024px) {
  .weather-by-hour {
    display: block;
  }
}

.next-5-days {
  width: 100%;
  border: 3px solid yellow;
}