* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-size: 100%;
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1140px) {
  .main-container {
    width: 1120px;
    margin: 8px auto;
    font-size: 1.1em;
  }
}

.location-and-date {
  width: 100%;
  border: 3px solid blue;
}

.current-temperature {
  width: 100%;
  border: 3px solid yellow;
}

.current-stats {
  width: 100%;
  border: 3px solid red;
}

@media screen and (min-width: 1024px) {
  .current-temperature,
  .current-stats {
    width: 50%;
  }
}

.weather-by-hour {
  display: none;
  width: 100%;
  border: 3px solid blue;
}

@media screen and (min-width: 1024px) {
  .weather-by-hour {
    display: block;
  }
}

.next-5-days {
  width: 100%;
  border: 3px solid yellow;
}